### mostly autoconf crap
Makefile
autom4te.cache
*.in
aclocal.m4
config.*
configure
depcomp
install-sh
*.pc
libtool
ltmain.sh
missing
stamp-h1
README
COPYING
INSTALL

### objects and libs
.libs
.deps
*.o
*.so
*.lo
*.a
*.la
.*.swp

### editor crap
*.rej
*~

### binaries that fall out of the build
lib/sectionsdclient/sectionsdcontrol
src/neutrino
src/nhttpd/web/*.js.gz
src/zapit/src/pzapit
src/zapit/src/udpstreampes
src/drivertool
src/dt
src/rcsim.h
src/rcsim
src/gui/version.h
src/nhttpd/nhttpd.conf
src/mdev_helper
