^locale-base-
^perl-module-
acl-
attr-
autofs-
base-passwd-
bash-
busybox-
-charmap-
db-
-dbg$
-dev$
-doc$
e2fsprogs-
fbset-
fftwf-
fftwl-
firmware-
flex-
-gconv-
gettext-
git-
gitweb
glibc-
initscripts-
kbd-
kernel-
kmod-
krb5-
libaio-
libao-
libasn-
libavahi-
libbluray-
libc6-
libcairo-
libcli-
libdbus-
libdcerpc-
libdrm-
liberation-fonts
libexpat-
libfftwf
libfif-
libfribidi-
libgdbm-
libgdk-
libglib-
libgnutls-
libharfbuzz-
libinput-
libldap-
libndr-
libnl-
libnss-
libsal2-
libsmb$
libstb-
libtiff-
libx264-
libxml2-
libxslt-
-locale-
-localedata-
lua-
mc-
mtd-utils-
ncurses-
nfs-utils-
ntfs-3g-
ntp-
openssh-
openssl-
opkg-
pam-
pcsc-lite-
perl-
-ptest$
python-
python3-
samba-
-samba4
shadow-
shared-mime-info-
-staticdev$
systemd-
tzdata-
udev-
usbutils-
util-linux-
wayland-
webmin-
weston-
wpa-supplicant-
zsh-
