^locale-base-
^perl-module-
acl
attr
attr-
autoconf
autofs-
alsa-server
avahi
base-passwd-
bash-
bsd
busybox-
catchsegv
-charmap-
cups
db-
-dbg$
-dev$
-doc$
e2fsprogs-
elfutils
enca
fbset-
fftw
firmware-
flex
fontconfig
-gconv-
gdb
gettext
git-
gitweb
glibc-
initscripts-
icu
jpeg-tools
kbd-
kernel
kmod-
krb5
ldd
lib
-locale-
-localedata-
lttng
lua-
m4
mc-
mdadm
mtd-utils
ncurses
nfs-utils-
nscd
nss
ntfs-3g-
ntp-
openssh-
openssl-
opkg-
pam-
pango
pci
pcr
pcsc-lite-
perl-
pps
-ptest$
python-
python3-
qemu
qt
rsvg
samba-
-samba4
shadow-
shared-mime-info-
sln
sntp
sqlite
-src
-staticdev$
sysfs
systemd-
tar-rmt
tcp-wrappers
tzdata-
tzcode
udev-
usbutils-
util-linux-
util-macros
wayland-
webmin-
weston-
wiper
wpa-supplicant-
xz
zsh-
