autofs$
bash$
bluez5$
busybox$
bzip2$
ca-certificates$
cifs-utils$
curl$
dosfstools$
dvb-femon$
e2fsprogs$
e2fsprogs-resize2fs$
etckeeper$
exfat-utils$
f2fs-tools$
fbset$
findutils$
firmware$
flash-script$
fuse-exfat$
glibc4
gptfdisk$
grep$
gzip$
hdparm$
htop$
ifupdown$
image-config$
imagemagick$
kernel-module$
kernel-modules$
libswscale$
libusb1$
links$
localedef$
minidlna$
nano$
neutrino-lua-plugins$
neutrino-mp$
neutrino-plugins$
nfs-utils$
nfs-utils-client$
ntfs-3g$
ntfsprogs$
ntpdate$
ofgwrite$
oh-my-zsh$
openssh$
openssl$
opkg$
parted$
procps$
proftpd$
pulseaudio$
pv$
rpcbind$
rsync$
rt8188eu$
rtl8192cu$
rtl8192eu$
samba$
samsunglcd4linux$
sed$
systemd$
tar$
themes$
tzdata$
tzdata-europe$
udev-extraconf$
udpxy$
usbutils$
util-linux$
webmin$
wpa-supplicant$
xupnpd$
zip$
zsh$
