#startjpg {
	display: block;
	text-align: center;
	width: 750px;
	margin: 1.5em auto;
	padding: .5em;
	border: 1px solid #a0a0a0;
	box-shadow: .5em .5em .5em rgba(0, 0, 0, 0.5);
}

hr {
	border: 0 none;
	border-top: 1px solid #a0a0a0;
}
span.upd_no,
span.upd_yes {
	display: none;
}
abbr.version {
	cursor: help;
}
.exlink, .inlink, .comment {
	text-decoration: none;
}

.status {
	vertical-align: text-bottom;
}
.vinfo {
	font-size: 75%;
	color: #c0c0c0;
}
.tools select {
	border: 1px solid #a0a0a0;
	border-left: 3px solid #132cfd !important;
}
.tools option.e {
	background: url(images/page_edit.png) no-repeat;
	padding-left: 20px;
}

button,
input[type="button"],
input[type="submit"],
._used_graph,
._used_graph * {
	border-radius: 5px;
}
button[ytype] {
	background-position: 3px 1px;
}
button[ytype="accept_"],
button[ytype="cancel_"] {
	text-align: center;
	width: 105px;
}
button[ytype="accept_"] { background-image:url(/images/accept.png); }
button[ytype="cancel_"] { background-image:url(/images/cancel.png); }

tr.list td {
	padding-top: .25em;
	padding-bottom: .25em;
}
tr.list:hover td {
	background: #F0F0F0;
}
div._used_graph {
	width: 150px;
	height: 20px;
	border: 1px solid #a0a0a0;
}
div._used_graph div._inner_graph {
	width: 0;
	height: 100%;
	background: transparent url(images/colored_bar.png) no-repeat 0 0;
	float: left;
}
