-dev$
-doc$
-dbg$
-ptest$
-staticdev$
-locale-
-charmap-
-gconv-
-localedata-
^locale-base-
^perl-module-
acl-
attr-
autofs-
bash-
busybox-
db-
e2fsprogs-
firmware-
gettext-
git-
glibc-
initscripts-
kbd-
kernel-
kmod-
lua-
mc-
ncurses-
nfs-utils-
ntp-
openssh-
openssl-
opkg-
pam-
perl-
python-
python3-
samba-
shadow-
systemd-
tzdata-
udev-
util-linux-
webmin-
zsh-
